/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

:root {
  --light-gray: #F3F5F2;
  --black: #4E4B5C;
  --purple: #BDADEB;
  --green: #ADEBCA;
  --yellow: #E6EBAD;
  --red: #EBADAD;
  --blue: #ADD1EB;
  --pink: #EBADDA;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  background-color: var(--light-gray);
  color: var(--black);
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 74.9%;
    letter-spacing: -0.06em;
    color: var(--black);
    white-space: pre-line;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 80px 80px 0 80px;
}

@media only screen and (max-width: 800px) {
    .header {
	padding: 40px 40px 0 40px;
    }
}

.dropdowns {
    padding: 80px 80px 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 800px) {
    .dropdowns {
	padding: 40px 40px 80px 40px;
	flex-direction: column;
	flex-wrap: nowrap;
        align-items: center;
    }
}

.dropdown__label:hover {
    text-decoration: underline;
}

.dropdown__label {
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    .dropdown__label {
	font-size: 25px;
	margin: 10px 0;
    }

    .dropdown {
	padding-bottom: 20px;
    }
}


.dropdown:nth-child(1) .select__wrapper::before {
    background: var(--purple);
}

.dropdown:nth-child(2) .select__wrapper::before {
    background: var(--green);
}

.dropdown:nth-child(3) .select__wrapper::before {
    background: var(--yellow);
}

.dropdown:nth-child(4) .select__wrapper::before {
    background: var(--red);
}

.dropdown:nth-child(5) .select__wrapper::before {
    background: var(--blue);
}

.dropdown:nth-child(6) .select__wrapper::before {
    background: var(--pink);
}

select {
    font-family: 'Roboto Mono', monospace;
    -webkit-appearance:none;
    border: 4px solid var(--black);
    position: relative;
    font-size: 35px;
    border-radius: 0;
    font-weight: bold;
    background: none;
    padding: 20px 48px 20px 15px;
    color: var(--black);
}

@media only screen and (max-width: 800px) {
    select {
	font-size: 25px;
	padding: 20px 48px 20px 15px;
	color: var(--black);
    }
}
.select__wrapper {
    position: relative;
}

.select__wrapper::before {
    content: "";
    background: pink;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 9px;
    top: 9px;
}

.header i {
    opacity: 0.5;
    cursor: pointer;
}

.header i:hover {
    opacity: 1;
}

i {
    font-size: 50px;
}

@media only screen and (max-width: 800px) {
    i {
	font-size: 40px;
    }
}

.down-arrow {
    position: absolute;
    top: 38px;
    right: 19px;
}

.icon-info {
    display: flex;
    align-items: center;
}

.overlay__bg {
    position: fixed;
    top: 0;
    left: 0;
    /*height: 100%;*/
    min-height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*@media only screen and (max-width: 800px) {*/
    /*.overlay__bg {*/
	/*min-height: auto;*/
    /*}*/
/*}*/

.overlay {
    background: white;
    padding: 49px 40px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 90% auto;
    grid-template-rows: 0.1fr 1fr;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .overlay {
	min-width: 85vw;
        grid-template-columns: 100%;
        grid-template-rows: auto auto 30vh;
	grid-template-areas: "top"
			     "mid"
		             "bot";
    }
}

.overlay__title-wrapper {
    border-bottom: 1px solid var(--black);
}

.overlay__close-btn i {
    color: var(--red);
    display: flex;
    justify-content: flex-end;
}


.overlay__close-btn  {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .overlay__close-btn {
	display: flex;
        align-items: center;
        grid-area: top;
	justify-self: end;
    }
    .overlay__content {
        overflow-y: scroll;
    }
}

.overlay__close-btn i::before {
    margin: 0;
}

.overlay__close-btn:hover i::before {
    color: #d55353;
}

